#mainHEADER {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
#mainHEADER,
#mainHEADER video,
#mainHEADER #viewport {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#mainHEADER video {
  background: black;
  object-fit: cover;
}
#mainHEADER #viewport {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainBODY {
  box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.8);
  background-image: url(/src/photos/paper.webp);
  color: black;
  position: relative;
  /* padding: 1rem; */
  margin-top: 100vh;
}
#mainBODY::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  top: -100vh;
}
/* #mainBODY div {
  max-width: 600px;
  margin: 1rem auto;
} */
